<ion-view view-title="Dashboard" class="blue">
    <ion-content class="padding">
        <h5 class="text-center">Choose the number of pulleys</h5>
        <div class="padding text-center">
            <a ui-sref="dash" class="button button-large intro-btn">
                <img src="img/intro-2.png" width="100%">
                <p><b>TWO PULLEYS</b></p>
            </a>
            <a ui-sref="chats" class="button button-large intro-btn">
                <img src="img/intro-3.png" width="100%">
                <p><b>THREE PULLEYS</b></p>
            </a>
        </div>
    </ion-content>
</ion-view>
