body { 
	padding-top: 70px;
	padding-bottom:  70px;
}

.blue { 
	background-color: #0d2643;
	color: #f3f3f3;
}

.cream { 
	background-color: #f3f3f3;
	color: #0d2643;
}

.orange{
	color: #b24826;
}

.navbar-default {
    background-color: #0a1f38;
    border-color: #0a1f38;
}

.navbar-default .navbar-toggle {
    border-color: #f3f3f3;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #f3f3f3;
}

footer{
	background-color: #0a1f38;
	height: 60px;
}

.footer-btn{
	background-color: #b24826;
	color: #f3f3f3;
	width: 140px;
	margin-top: 5px;
	border-color: #0a1f38;

}

.center{
	text-align: center;
}

.intro-btn{
	width: 200px;
	margin-bottom: 10px;
	color: #b24825;
    background-color: #f3f3f3;
    border-color: #0a1f38;
}

.form-control {
    height: 40px;
    padding: 6px 12px;
    font-size: 12px;
    font-style: italic;
    color: #E3E3E3;
    border: 1px solid #EBEBEB;
    border-radius: 13px;
}

label {
    margin-bottom: 2px;
    margin-top: 8px;
    font-weight: 300;
}