.blue {
    background-color: #0d2643;
    color: #f3f3f3;
}

.blue h1,
.blue h2,
.blue h3,
.blue h4,
.blue h5,
.blue p {
    color: #f3f3f3;
}

.intro-btn {
    width: 200px;
    height: 200px;
    margin-bottom: 10px !important;
    background-color: #f3f3f3 !important;
    border-color: #0a1f38 !important;
}

.intro-btn p {
    font-size: 18px;
    line-height: 1.3333333;
     color: #b24825 !important;
}

.cream {
    background-color: #f3f3f3;
    color: #0d2643;
}

.cream h1,
.cream h2,
.cream h3,
.cream h4,
.cream h5,
.cream p{
    color: #0d2643;
}

.orange {
    color: #b24826 !important;
}

.bar-footer {
    height: 60px;
}

.footer-btn {
	padding: 10px 16px !important;
    font-size: 18px !important;
    line-height: 1.3333333 !important;
    border-radius: 6px !important;

    background-color: #b24826;
    color: #f3f3f3;
    width: 140px;
    margin-top: 5px;
    border-color: #0a1f38;
}

label {
    margin-bottom: 2px;
    margin-top: 8px;
    font-weight: 300;
}
